@import 'reset-css/reset.css';
@import './mediaQueries.scss';
@import './animation.scss';

* {
  box-sizing: border-box;
}

@mixin size100 {
  width: 100%;
  height: 100%;
}

html, body{
  @include size100();
  margin: 0;
  padding: 0;
}

:global {
  #app {
    @include size100();
    font-size: 1.4rem;
  }
}

.app {
  @include size100();
  padding: 30px 20px;
}

body {
  font-size: 62.5%;
}
