@import '../layout.scss';

.button {
  display: flex;
  width: 150px;
  padding: 10px 5px;

  cursor: pointer;

  border-radius: 5px;
  outline-width: 0px;
  outline-color: transparent;
  box-shadow: none;
  font-size: 1.2rem;

  justify-content: space-around;
  align-items: center;

  .icon {
    vertical-align: middle;
    width: 32px;
    height: 32px;
  }
}

.button:last-of-type {
  margin-top: 0;
  margin-left: 15px;
}

.button.calculate {
  border-color: #FF9009;
  background-color: #FF9009;
}

.button.clear {
  border-color: #C1E1A6;
  background-color: #C1E1A6;
}

.button.close {
  border-color: #FF9009;
  background-color: #FF9009;
}

.icon.calculate {
  width: 24px;
  height: 24px;
  background: url('../../icons/arrow.svg');
  background-repeat: no-repeat;
}

.icon.clear {
  background: url('../../icons/clear.png');
}

.button:hover {
  .icon {
    animation: hvr-wobble-horizontal 1s ease-in-out;
  }
}

@include phone-portrait-only() {
  .button:last-of-type {
    margin-top: 15px;
    margin-left: 0;
  }
};
