@import '../layout.scss';

.button {
  width: 150px;
  height: 50px;
  padding: 10px 5px;

  cursor: pointer;

  border-radius: 5px;
  outline-width: 0px;
  outline-color: transparent;
  box-shadow: none;

  font-size: 1.2rem;
  .flexHack {
    display: flex;

    justify-content: space-around;
    align-items: center;
  }

  .icon {
    width: 32px;
    height: 32px;

    vertical-align: middle;
  }
}

.button:last-of-type {
  margin-top: 0;
  margin-left: 15px;
}

.button.calculate {
  border-color: #FF9009;
  background-color: #FF9009;
}

.button.calculate:disabled {
  cursor: not-allowed;

  color: #000;
  border-color: darken(#FF9009, 20%);
  background-color: darken(#FF9009, 20%);
}

.button.clear {
  border-color: #C1E1A6;
  background-color: #C1E1A6;
}

.button.close {
  border-color: #FF9009;
  background-color: #FF9009;
}

.icon.calculate {
  width: 24px;
  height: 24px;

  background: url('../../assets/icons/arrow.svg');
  background-repeat: no-repeat;
}

.icon.clear {
  background: url('../../assets/images/clear.png');
}

.button:hover {
  .icon {
    animation: hvr-wobble-horizontal 1s ease-in-out;
  }
}

@include phone-portrait-only() {
  .button:last-of-type {
    margin-top: 15px;
    margin-left: 0;
  }
};
