@import '../layout.scss';

.item {
  padding: 10px 0 10px 10px;
  border-top: 1px solid #939393;

  cursor: pointer;

  .start, .end, .waypoints {
    padding: 5px 0;
  }

  .note {
    font-weight: 600;
  }
}

.item:last-of-type {
  border-bottom: 1px solid #939393;
}

.item:hover {
  background-color: #C1E1A6;
}
