@import '../layout.scss';

.header {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.instruction {
  padding: 15px 0;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
}

.group {
  display: flex;
  width: 120px;
  justify-content: space-between;
}

@include phone-portrait-only() {
  .header {
    font-size: 1.2rem;
  }

  .controls {
    flex-direction: column;
  }

  .group {
    padding-top: 15px;
  }
};

@include tablet-portrait-up() {
  .group {
    margin-left: 15px;
  }
};
