@import '../layout.scss';

.header {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.instruction {
  padding: 15px 0;
}

.controls {
  display: flex;
  flex-direction: row;
  margin-right: auto;
}

@include phone-portrait-only() {
  .header {
    font-size: 1.2rem;
  }

  .controls {
    flex-direction: column;
  }
};
